*{
  margin: 0;
  padding: 0;  
}

<style>
 @import url(tiny.css) (min-width:300px);
 @import url(small.css) (min-width:600px);
 @import url(big.css) (min-width:900px);
</style>
@media screen and (max-width: 300px) {
 /* estilos */
}
@media screen and (max-width: 600px) {
/* Estilos */
.foto{
    width: 50%;
}

header{
    background-color: #F4735C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    background-color: #DCC4C4;
    margin: 10px 0;
    padding: 10px 20px;
}

.foto{
    width: 80%;
}

div{
    padding: 30px;
}



