*{
  margin: 0;
  padding: 0;  
}

@media screen  and(min-width: 1024px){
    .lista{
        right: 8%;
        width: 14%;
        padding: 20px;
        text-align: start;
    }
    .lista-item: :hover{
        background-color: blue;
    }
}

header{
    display: inline-block;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color:#FCAC95;
    color: black;
    position: relative;
    top: 100%;
    width: 100%;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 10px;
    display: inline;
}

li a{
    padding: 5px 10px;
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover{
    background: #CCC;
    color: #000; 
    border-color: #000;
}
}